<!-- <%- include('../partials/head') %>
<%- include('../partials/head_end') %>
<%- include('../partials/header') %>
<%- include('../partials/header_end') %>
<%- include('../partials/navigation') %>

<%- include('../partials/footer') %> -->

 <%- include('../partials/head') %>
 <%- include('../partials/head_end') %>


  
  <body>
    <%- include('../partials/navigation') %>
      <main>
        <section class="blogs">
          <!-- <h1 class="blog__name">blog post</h1>
          <p class="blog__post">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, similique. Blanditiis dicta alias inventore sit deleniti beatae velit tempora aliquam.</p> -->

        </section>
        <section class="gallery">
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>

        </section>
    
        
      </main>
      <template class="blog__template">
        <h1 class="blog__name">tooo</h1>
        <p class="blog__post">hey yoooooo </p>
        <button class="blog__btn" >read more</button>
      </template>
      <template class="template">
       <img class="temp-pic" src="" alt="">
      </template>
  
    <%- include('../partials/footer') %>
    <script src="../../../assets/js/index.js"></script>

    <script src="../../../assets/js/navigation.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../../../assets/js/swiper.js"></script>

    <!-- <script src="../../../assets/js/contact.js"></script> -->
  </body>
</html>
